.mySlides {
  margin-top: 20px;
  display: none
}

.myText {
  display: none
}

.img {
  vertical-align: middle;
  float: none;
  margin: 0;
  box-shadow: 0.25rem .25rem rgba(0,0,0,.075)!important;
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.text-container {
  font-size: 18px;
  background-color: #333;;
  color: white;
  border-radius: 15px;
  margin-top: 15px;
  padding: 15px 15px;
  box-shadow: 0.25rem .25rem rgba(0,0,0,.075)!important;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  background-color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: auto auto;
}

.numbertext {
  margin-top: 20px;
  color: #f2f2f2;
  background-color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(88, 88, 88);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media (min-width: 200px) {
	.container {
		grid-template-columns: 1fr;
	}
  .img {
    width: 400px;
    height: 260px;
  }
}

@media (min-width: 600px) {
  .img {
    width: 500px;
    height: 325px;
  }
}

@media (min-width: 1000px) {
  .img {
    width: 650px;
    height: 425px;
  }
}

@media (min-width: 1200px) {
	.container {
		grid-template-columns: 2fr 3fr;
	}
}

@media (min-width: 1250px) {
  .img {
    width: 700px;
    height: 450px;
  }
}